*.pyc

src/test/py/ltprg/game/synthetic_nom_ref/synthetic_data/run_models.py
src/test/py/ltprg/game/synthetic_nom_ref/synthetic_data/submit_synthetic_experiments.sh
src/test/py/ltprg/game/synthetic_nom_ref/test/synthetic_data/notes/
